{{ define "main" }}
<div class="container">
  <section class="section py-5">
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div class="display-6 fw-bolder">Live Demo & Free Trial</div>
            </div>
          </div>
          <div class="row shadow-sm">
<div class="form-check offset-md-1 mt-2">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckIndeterminateDisabled">
    Already configured data set (AWS, GCP, Azure)
  </label>
</div>
<div class="form-check offset-md-1">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckDisabled">
    ReadOnly Permission for Demo Projects
  </label>
</div>
<div class="form-check offset-md-1">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckDisabled">
    Admin Permission for your own Project
  </label>
</div>

           <form id="register_1">
            <br>
            <div class="form-group">
              <label for="InputEmail1">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We will send email for reset password.</small>
            </div>
            <br>
<!--
            <div class="justify-content-center d-flex">
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div class="g-recaptcha" data-sitekey="6LcEyqgpAAAAAKTBSt2fV-9-VNlsHOxNT8Viq58z"></div>
            </div><br>
            -->
             <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="check_1" />
              <label class="form-check-label" for="exampleCheck1">By signing up, I agree to the AuroraStack Privacy Policy and Terms of Service.</label>
             </div>
            <div class="justify-content-center d-flex mb-2">
              <button type="submit" id="clk_1" class="btn btn-primary btn-block" disabled>Try for Free</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="container-fluid">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div class="display-6 fw-bolder">Business</div>
            </div>
          </div>
          <div class="row shadow-sm">
<div class="form-check offset-md-1 mt-2">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckIndeterminateDisabled">
    Dedicated Site --> https://{your company}.aurorastack.io
  </label>
</div>
<div class="form-check offset-md-1">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckDisabled">
    Support Single Sign On(OIDC, SAML ...)
  </label>
</div>
<div class="form-check offset-md-1">
  <input class="form-check-input" type="checkbox" value="" checked disabled>
  <label class="form-check-label" for="flexCheckDisabled">
    Admin Permission for your Site
  </label>
</div>


          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script>
async function handleFormSubmit(event) {
    document.getElementById("clk_1").disabled = true;
	event.preventDefault();
	const form = event.currentTarget;

	const url = "https://demo.aurorastack.io:8443/registration/v1/user/create";

	try {
		const formData = new FormData(form);
        formData.append("email", document.getElementById("InputEmail1").value);
        formData.append("org_name", "My Org " + Math.random().toString(36).substring(2,11));
		const responseData = await postFormDataAsJson({ url, formData });
        document.getElementById("clk_1").disabled = false;
		console.log({ responseData });

	} catch (error) {
        document.getElementById("clk_1").disabled = false;
		console.error(error);
	}
}
async function postFormDataAsJson({ url, formData }) {
	const plainFormData = Object.fromEntries(formData.entries());
	const formDataJsonString = JSON.stringify(plainFormData);

    console.log("DATA")
    console.log(formDataJsonString)
    console.log("DATA2")
	const fetchOptions = {
		method: "POST",

		headers: {
			"Content-Type": "application/json",
			"Accept": "application/json",
            "Access-Control-Allow-Origin": "*"
		},
		body: formDataJsonString,
	};

	const response = await fetch(url, fetchOptions);

	if (!response.ok) {
		const errorMessage = await response.text();
		throw new Error(errorMessage);
	}
    alert("Check your email");
	return response.json();
}
const sendForm = document.querySelector("#register_1");
sendForm.addEventListener("submit", handleFormSubmit);

const agreeCheckbox = document.querySelector("#check_1");
agreeCheckbox.addEventListener("change", (event) => {
    const submitButton = document.querySelector("#clk_1");
    submitButton.disabled = !event.currentTarget.checked;
});

</script>

{{ end }}