<section class="section portfolio">

  {{ with .title }}
  <div class="container">
    <section class="section blog-single py-5">
    <div class="container">
      <div class="row pb-5">
        {{ with .name }}
        <div class="col-12 d-flex justify-content-center display-5 fw-bold">
          {{ . }}
       </div>
        {{ end }}
      </div>
    </div>
    </section>
  {{ end }}

    <div></div>

    {{ range .content }}
    <div class="row portfolio-feature">
      <div class="col-12 col-xl-6 d-flex flex-column align-items-center">
        {{ with .image }}
          {{ partial "utilities/image-fluid.html" . }}
        {{ end }}
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .pretitle }}
          <p class="text-danger fw-semibold mb-2">{{ . }}</p>
        {{ end }}
        {{ with .title }}
          <h3 class="fs-1 fw-normal text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .text }}
          <p class="text-black-61 pb-3">{{ . }}</p>
        {{ end }}
        <div class="">
          {{ range .buttons }}
            <a class="text-decoration-none me-3" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <br><br>
    {{ end }}
  </div>
</section>
